@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "poppins";
    box-sizing: border-box;
   
}

:root{
    --background-color: #131b27;
    --accent-color: #283446;
    --primary-text-color: #b3b8bc;
    --secondary-text-color: #8ea9be;
    --secondary-accent-color: #606570; 
    --header-font-size: 0.75rem;
    --font-size-1 : 0.8rem;
    --font-size-2 : 1.4rem;
    --font-main : 1.7rem;
    --font-main-temp : 2.5rem;
    --search-font: 1rem;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #3c444f, #1a2230);
    
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.title-font{
    font-size: var(--header-font-size);
    color: #8ea9be;
}


/* .main-container{
    background-color: #2064c4;
    display: flex;
} */

.weather-container{
    background-color: var(--background-color);
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 22px;
}
.weather-today{
    width: min(33rem, 90vw);
    
}

/* ////////////////////////// */

/* .weather-search{    
} */
.search-input{
    font-size: var(--search-font);
    width: 100%;
    padding: 0.4em 1em;
    border-radius: 10px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    
}
.search-input::placeholder {
    color: rgb(216, 220, 220);
    opacity: 1;
}
.search-input:focus{    
    border-bottom: 1px solid var(--secondary-accent-color);
}

/* //////////////////////////// */

.current-weather{
    padding: 2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-weather-city{
    font-weight: 600;
    font-size: var(--font-main);
}
.current-weather-description{   
    font-size: var(--font-size-1);
    color: #8ba5bc;
}
.current-weather-temparature{
    font-weight: 600;
    font-size: var(--font-main-temp);
    margin-top: 0.8em;
}
.current-weather-image{
    width: min(26vw, 10rem);
   
}

/* ///////////////////////// */


.hourly-forecast{
    background-color: var(--accent-color);
    padding: 1.2rem 2rem;
    border-radius: 14px;
}

.hourly-forecast-details-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;  
}

.hourly-forecast-details{
    padding: 0rem 1.2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--secondary-accent-color);
}
.hourly-forecast-details:last-child{
    border: none;
}
.hourly-forecast-time{
    font-weight: 600;
    font-size: var(--font-size-1);
    color: #b3b8bc;
}
.hourly-forecast-image{
    width: 3rem;
    margin: 0.8rem  0;
}
.hourly-forecast-temparature{
    font-size: var(--font-size-2);
    font-weight: 600;
}

.hourly-forecast-details-container::-webkit-scrollbar {
    height: 16px;
}
.hourly-forecast-details-container::-webkit-scrollbar-thumb {  
    border-radius: 10px;
    background-color: var(--secondary-accent-color); 
}


/* ///////////////////////// */
.air-condition{
    margin-top: 1rem;
    background-color: var(--accent-color);
    padding: 1.2rem 2rem;
    border-radius: 14px;    
}
.air-conditon-container{
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2.2rem;
}
.air-conditon-tab{
    position: relative;
    font-size: var(--font-size-1);
    font-weight: 600;
    color: #b3b8bc;
    padding-left: 1.8rem;
}
.air-condition-icon{
    fill:  #b3b8bc;
    position: absolute;
    left: 0;
    top: -4px;
    
}


/* ////////////////////////////////////////////// */

.weather-forecast{
    background-color: var(--accent-color);
    border-radius: 14px;
    /* width: 20rem; */
    width: min(100%, 90vw);
    padding: 1.5rem 2rem;
    padding-bottom: 1rem;
}

.weather-forecast-details{
    height: 6.2rem; 
    display: grid;
    grid-template-columns: 1.3fr 2fr 0.5fr;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-accent-color);
    
}
.weather-forecast-details:last-child{
  border: none; 
}
.weather-forecast-day{
    text-wrap:nowrap ;
    font-size: var(--font-size-1);
    font-weight: 600;
    color: #b3b8bc;
    
}
.weather-forecast-description{
    display: flex;
    align-items: center;
}
.weather-forecast-image{
    width: 2.2rem;
}
 
.weather-forecast-status{
     margin-left: 0.3rem;
     font-size: var(--font-size-1);
     font-weight: 500;
     color: #dcdbdb;
}
.weather-forecast-minmax-temp{
     font-size: var(--search-font);
     font-weight: 500;
     color: #ffffff;
}
.weather-forecast-minmax-temp> span{
     font-size: var(--search-font);
     font-weight: 500;
     color: #b3b8bc;
}


/* /////////////////////////  and (min-width: 500px)*/

@media (max-Width: 1000px )  {
    .weather-container{
        display: block;
        margin: 1rem 0;
    }
    .weather-forecast{
        margin-top: 1rem;
    }
   
}

@media (width <= 640px){
   :root{
        --header-font-size: 0.6rem;
        --font-size-1 : 0.7rem;
        --font-size-2 : 1rem;
        --font-main : 1.8rem;
        --search-font: 0.9rem;
        --font-main-temp : 2rem;
   }
   body{
    background-image: none;
    background-color: #131b27;
   }
   .weather-container{
        margin: 0;
        border-radius: 0px;
        padding: 1.2rem 1.5rem;
    }
    .search-input{
        padding: 1em 1em;
    }
   .current-weather{
        padding: 2rem 1.5rem;
    }

   .hourly-forecast-image{
        width: 2.2rem;
        margin: 0.8rem  0;
    }

    .air-conditon-container{
        padding: 1rem 0rem;
        column-gap: 1rem;
        row-gap: 1.2rem;
    }
    .air-condition{
        padding: 1.2rem 1.5rem; 
        padding-bottom: 0.6rem;
    }
    .hourly-forecast{
        padding: 1.2rem 1.5rem;
        
    }
   
  
}